button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
body{
    background-color: chartreuse;
}
h1{
    text-decoration: underline;
}
#results{
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    border: 10px solid gray;

}